.list-good-item {
    width: 400px;
    margin: 20px 0px;
    .wrapper-good-item {

        .good-img {
            width: 400px;
            height: 300px;
        }
        
        .good-information {
            .good-title {

            }
            .good-price {

            }
            .add-to-cart {
                
            }
        }
    }

}