* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    header.header_cart {
        display: flex;
        justify-content: end;
        padding-right: 50px;
        width: 100%;

    }

    .goods-block {
        
    }
    .price-and-clear-block {
        display: flex;
        justify-content: space-between;
        
        width: 700px;
        margin: 50px 0px;
    }

    .cart-block {
        
    }
}