.cart-list-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 700px;
    height:60px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 5px 0;
    .cart-item-name {
        width: 100px;
    }

    .cart-item-amount_info {
        display: flex;
        justify-content: space-around;
        width: 70px;
        .change-value {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 25px;
            border-radius: 100%;
        }
    }
    .cart-item-price {

    }

    
    .cart-item-delete {
        cursor: pointer
    }
}